@using BlazorApp1.Model
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime;
 
<div class="tt-content">


    @if(Steps is not null)
    {
        @foreach (var(Step, i) in Steps.Select((value, i) => ( value, i )))
        {
            @if (Id == i)
            {
                  <TutorialSteps 
                           Id=i 
                           Max=Steps.Count()
                           OnClick="ClickCallback" 
                           CssClass=@Step.CssClass>
                                <p>@Step.Text</p>
                </TutorialSteps> 
            }
          
        }
    }
</div>
 
@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public List<TutorialStepModel>? Steps { get; set; } 

    public int Id { get; set; }

    void ClickCallback(int id) => Id = id;
 

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        
             await JSRuntime.InvokeVoidAsync("sdsd", Steps?[Id].SnapToClass, "mariano" );
         
    }
     
}
